.content{
    font-size: 13px;
    font-weight: 500;
}
.container .header{
    padding-bottom: 10px;
    margin-bottom: 60px;
}
.summary{
    font-size: medium;
}
.summary_label{
    font-weight: 700;
    
}
.summary_text{
    line-height: 30px;
    font-weight: 300;
}

.summary .row {
    
    margin-bottom: 30px;
}


#table_div{
    border-top: solid 1px;
}

